body{
    background-color: #225981;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}
div.nav{
    text-align: center;
    background-color: #181A1B;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
h1{
    color: white;
}
div.content {
    text-align: center;
    margin-top: 10vh;
}
div.projects {
    width: 30%;
    display: inline-block;
    vertical-align:top;
}
div.socials {
    width: 30%;
    display: inline-block;
    vertical-align:top;
}
div.future {
    width: 30%;
    display: inline-block;
    vertical-align:top;
}
@media screen and (max-width: 1440px) {

  div.projects {
      width: 90%;
      display: block;
      margin: auto;
      margin-bottom: 25px;
  }
  div.socials {
      width: 90%;
      display: block;
      margin: auto;
      margin-bottom: 25px;
  }
  div.future {
        width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 25px;
    }
}
h2{
    text-align: center;
    font-size: 30px
}
ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0px;
}
.projects li {
    margin: auto;
    margin-top: 16px;
    padding: 6px;
    word-wrap: break-word;
    background-color: #ED474A;
    width: 65%;
}
.socials li {
    margin: auto;
    margin-top: 16px;
    padding: 6px;
    word-wrap: break-word;
    background-color: #779FA1;
    width: 65%;
}
.future li {
    margin: auto;
    margin-top: 16px;
    padding: 6px;
    word-wrap: break-word;
    background-color: #E0CBA8;
    width: 65%;
}
